.FadeText .fade-in {
    opacity: 0;
    animation: fadeIn ease forwards;
}

.FadeText .continue-triangle {
    display: inline-block;
    opacity: 0;
    animation: fadeIn ease forwards;
    animation-duration: 400ms; /* or pass in via inline style */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}