.RegionSelection {
    width: 100%;
    height: 100%;
}

.RegionSelection * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RegionSelection .back-arrow {
    position: absolute;
    width: 10%;
    top: 3%;
    left: 2.5%;
}

.RegionSelection .title-group {
    position: absolute;
    top: 4%;
    right: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.RegionSelection .title {
    color: var(--teritary-dark);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.RegionSelection .title.dark {
    color: var(--background);
}

.RegionSelection .sub-title {
    color: var(--primary);
}

.RegionSelection .sub-title.dark {
    color: var(--secondary);
}

.RegionSelection .tags {
    position: absolute;
    top: 31%;
    left: 2%;
    width: 95%;

    display: flex;
    gap: 1%;
}

.RegionSelection .tag-group,
.RegionSelection .chosen-tag-group {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.RegionSelection .tag-name,
.RegionSelection .chosen-tag-name {
    color: var(--primary);
    text-align: center;
    text-shadow: 0 1.25px 0 rgba(0, 0, 0, 0.25);
}

.RegionSelection .tag-name.dark,
.RegionSelection .chosen-tag-name.dark {
    color: var(--white);
}

.RegionSelection .tag {
    width: 100%;
}

/*Chosen tag styling*/

.RegionSelection .chosen-region {
    display: grid;
    grid-template-columns: 14vw minmax(0, 55vw);
    gap: 2rem;
    align-items: start;
    justify-content: center;
    direction: ltr;
    margin-top: 5%;
}

.RegionSelection .chosen-tag-group {
    width: 100%;
    z-index: 2;
}

.RegionSelection .chosen-tag {
    width: 14.5vw;
}

.RegionSelection .region-details {
    margin-top: 6.5vh;
    margin-left: -9.5vw;

    width: calc(100% + 6.5vw);
    min-height: 40vh;

    background-color: var(--background-light);
    box-shadow: inset -10.27px 8.8px 6.31px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row-reverse;

    z-index: 1;
}

.RegionSelection .region-details.dark {
    background-color: var(--primary);
}

.RegionSelection .features {
    margin-top: 4vh;
    margin-left: 8vw;
    display: flex;
    flex-flow: row-reverse;
    gap: 5vw;
}

.RegionSelection .region-details .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    width: 13vw;
    flex-shrink: 0;
}
.RegionSelection .region-details .feature img {
    width: 100%;
    height: 10vw;
    object-fit: contain;
    display: block;
}

.RegionSelection .region-details .feature-name {
    color: var(--primary);
    margin: 0;
    padding: 0;
    text-align: center;
}

.RegionSelection .region-details.dark .feature-name {
    color: var(--secondary);
}

.RegionSelection .feature-details {
    color: var(--teritary-light);
    margin: 0;
    padding: 0;
    object-fit: contain;
    text-align: center;
    width: 120%;
}

/*Button Styling*/
.RegionSelection .Button {
    width: 34%;
    height: 20%;
    position: absolute;
    top: 5%;
    left: 32%;
}