.Screen {
    position: absolute;

    width: 96%;
    height: 82%;
    top: 4%;
    left: 2%;

    overflow: hidden;
    touch-action: none;

    border-radius: 21.8px;
}

.Screen .map-layer {
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: center;
}

.Screen .Screen-map {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    user-select: none;
    -webkit-user-drag: none;
}

.Screen .missile-target {
    position: absolute;

    /* We'll change these once you decide where the target goes */
    left: 35%;
    top: 50%;
    width: 10%;

    opacity: 0;
    animation: targetAppear 1s ease forwards;
    animation-delay: 5s;
    pointer-events: none;

    z-index: 2;
}

.Screen .missile-rocket {
    position: absolute;
    width: 10%;
    animation: rocketFly 2s ease-in forwards;
    animation-delay: 5s;

    bottom: 0;
    left: 100%;

}

.Screen .strike-zone {

}

@keyframes targetAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rocketFly {
    from {
        bottom: 0;
        left: 100%;
        transform: rotate(0deg);
    }

    to {
        left: 35%;
        bottom: 30%;
        transform: rotate(-45deg);
    }
}
