.Tutorial {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.Tutorial.light {
    background-image: url('/Tutorial/Background-light.png');
}

.Tutorial.dark {
    background-image: url('/Tutorial/Background-dark.png');
}


/* Theme toggle */

.Tutorial .toggle-button {
    position: absolute;

    top: 1%;
    left: 1%;

    width: 10%;

    padding: 0;
    border: none;
    background: none;

    cursor: pointer;

    transform-origin: center;
    transition: transform 0.15s ease;
}

.Tutorial .toggle-button:active {
    transform: scale(0.9);
}


.Tutorial .toggle-image {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    opacity: 0;

    transition:
        opacity 0.25s ease,
        transform 0.3s ease;
}


/* The visible image */

.Tutorial .toggle-image.active {
    opacity: 1;
}

/* =========================
   Tutorial Card
   ========================= */

.Tutorial .tutorial-card {
    position: absolute;

    width: 75%;
    height: 70%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 26px;

    box-shadow: 6px 7px 1.3px rgba(0, 0, 0, 0.25);

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* =========================
   Light Card
   ========================= */

.Tutorial.light .tutorial-card {
    background-color: var(--background);
}

/* =========================
   Dark Card
   ========================= */

.Tutorial.dark .tutorial-card {
    background-color: rgba(0, 0, 0, 0.76);
}

.Tutorial.dark .tutorial-card .tutorial-dialogue{
    color: var(--background);
}

/**=========================
   Tutorial Dialogue
   ========================= */

.Tutorial .tutorial-dialogue {
    position: absolute;
    color: var(--teritary-dark);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 95%;
    transition: margin-bottom 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

/*==========================
   Tutorial Event 1
   ========================= */

.Tutorial .tutorial-dialogue.event_1 {
    margin-bottom: 25%;
}
.Tutorial .tutorial-dialogue.event_2{
    margin-bottom: 30%;
}

.Tutorial .chapter-icons {
    position: absolute;
    width: 90%;
    margin-top: 10%;

    animation: fadeIn 1.5s ease forwards;
}

/*==========================
   Tutorial Event 2
   ========================= */

.Tutorial .settings-icon {
    position: absolute;
    width: 10%;
    bottom: 35%;

    animation: settingsOpen 5s ease forwards infinite;
    animation-delay: 1.5s;
}

.Tutorial .pointer {
    position: absolute;
    width: 6%;
    animation: cursorMove 5s ease-in-out forwards infinite;
    z-index: 1;
}

.Tutorial .SettingsWindow {
    width: 30%;
    right: 18%;
    bottom: 5%;
    pointer-events: none;
    animation: SettingsWindowFadeIn 5s ease forwards infinite;
    animation-delay: 1.5s;
    opacity: 0;
}

/*==========================
   Tutorial Event 3
   ========================= */

.Tutorial .tutorial-dialogue.event_3 {
    margin-bottom: 25%;
}

.Tutorial .PopUp {
    position: absolute;
    width: 50%;
    height: 40%;
    bottom: 15%;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white); 

    pointer-events: none;
    z-index: 1;

    animation: fadeIn 1.5s ease forwards;
}

.Tutorial .pointer-2 {
    z-index: 2;
    position: absolute;
    bottom: 28%;
    right: 22%;
    width: 6%;

    animation: cursorMove2 3s ease-in-out forwards infinite;
}

/*==========================
   Tutorial Event 4
   ========================= */

.Tutorial .tutorial-dialogue.event_4 {
    margin-bottom: 25%;
}

.Tutorial .PopUp.attention {
    width: 45%;
    height: 50%;
    left: 27.5%;
    bottom: 10%;
}

/*Region selection*/

.Tutorial .RegionSelection {
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes settingsOpen {
    0% {
        transform: rotate(0deg);
    }

    23% {
        transform: rotate(20deg);
    }

    55% {
        transform: rotate(20deg);
    }

    /* Cooldown */
    100% {
        transform: rotate(0deg);
    }
}

@keyframes cursorMove {
    0% {
        opacity: 0;
        transform: translate(200%, 200%);
    }

    20% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

    40% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

    70% {
        opacity: 1;
        transform: translate(170%, 100%);
    }

    80% {
        opacity: 1;
        transform: translate(170%, 100%);
    }
    
    100% {
        opacity: 0;
        transform: translate(200%, 200%);
    }
}

@keyframes cursorMove2 {
    0% {
        opacity: 0;
        transform: translate(200%, 200%);
    }

    30% {
        opacity: 1;
        transform: translate(-40%, -50%);
    }

    70% {
        opacity: 1;
        transform: translate(-40%, -50%);
    }
    
    100% {
        opacity: 0;
        transform: translate(200%, 200%);
    }
}

@keyframes SettingsWindowFadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }


    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}